<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.8.1/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex@2.0.0"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
</body>
<script type="module">

    import LoginView from '../static/auth/login.js'
    import RegisterCreatorView from '../static/auth/cregister.js'
    import RegisterVue from '../static/auth/register.js'
    import WelcomeView from '../static/view/welcome.js'
    import store from '../static/store/index.js'
    import IndexView from '../static/view/index.js'
    import newalbumform from '../static/components/createalbum.js'
    import NewSongForm from '../static/components/create-song.js'
    import CurrentSong from '../static/components/currentsong.js'
    const router = new VueRouter({
    routes: [
        { path: '/', component: IndexView, children: [
        { path: '/current/playing/song/:id', component: CurrentSong},
        ]},
        { path: '/login', component: LoginView, name: 'Login'},
        { path: '/user', component: WelcomeView },
        { path: '/register', component: RegisterVue },
        { path: '/creator/register', component: RegisterCreatorView },
        { path: '/creator/newalbumform', component: newalbumform },
        { path: '/creator/add/song', component: NewSongForm },
    ]
    })

    var app = new Vue({
        el: '#app',
        router: router,
        store: store,
        data: {
            message: 'Hello Vue! My first vue2 app with flask integration using cdn links'
        },
        delimiters: ['${', '}']
    })

    // router.beforeEach((to, from, next) => {
    //     if (to.name !== '/login' && !sessionStorage.getItem('access-token') ) this.$router.push('/login')
    //     else next()
    // })
</script>
</html>